{% extends 'template.html' %}



{% block title %}
    {{ title }}
{% endblock title %}
        

{% block body %}

        <div class="p-5 rounded-3 bg-dark text-center" style="margin-top: 150px; color: rgba(250,250,250,0.5);">
            <h1 class="mb-4" >WELCOME to my SOGN BOOK !!! </h1>
            <p>
                In this page you will find a lot of songs that you can play with a guitar, or just sing it 'a cappella'..
            </p>
            <p>(The important thing is to have fun !!!!)</p>
            <p>I hope you enjoy it 👏👏 &#128513 &#128513</p>
            <p class="mt-4"><a href="/list">Go for it!</a></p>
        </div>
    
{% endblock body %}
