{% extends 'template.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block body %}

<h1 class="text-center m-4 p-2">LIST OF SONGS</h1>

<h3>Add a song
    <button class="btn btn-success" id="addButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-plus-square-fill" viewBox="0 0 16 16">
            <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
        </svg>
    </button>
</h3>


<div class="d-none border rounded p-2 m-2 text-light" id="form-container" style="background-color:rgba(50,50,50,0.5)">
    <form action="/create" method="post">
        <div class="row">
            <div class="col-6">
                <div class="mb-3 col-10">
                    <label class="form-label" for="title">Name of the song</label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="Type the name">
                </div>
                <div class="mb-3 col-10">
                    <label class="form-label" for="autor">Autor</label>
                    <input class="form-control" type="text" name="autor" id="autor" placeholder="Type the Autor">
                </div>
                <div class="mb-3 col-10">
                    <label class="form-label" for="genre">Genre</label>
                    <select class="form-control" name="genre" id="genre">
                        <option selected disabled value="">Choose an option</option>

                        {% for genre in genres  %}
                            <option value="{{ genre.id }}"> {{ genre.genre}}</option>
                        {% endfor %}

                    </select>
                </div>

            </div>
            <div class="col-6">
                <label class="form-label" for="lyric">Lyric</label>
                <textarea class="form-control" name="lyric" id="lyric" placeholder="Add the lyric"
                    style="height: 150px;"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
</div>
<hr>


<!-- --------------------------------------------------------------------- -->

<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th>Autor</th>
            <th>Genre</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        {% if data | length > 0  %}
        {% for song in data %}
        <tr>
            <td>{{ song.title}} </td>
            <td>{{ song.autor}} </td>
            <td>{{ song.genre}} </td>
            <td>
                <a class="btn btn-warning btn-sm" href="edit/{{ song.id }}">Edit</a>
                <a class="btn btn-danger btn-sm" href="delete/{{ song.id }}" onclick="return confirmation(event)">Delete</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">No data to show</td>
        </tr>
        {% endif %}
    </tbody>
</table>


<!-- Creation Form animation -->
<script>
    function confirmation(event) {
        sure = confirm('Are you sure you want to delete this song? ')
        if (sure == false) {
            event.preventDefault()
        }
    }

    const btn = document.getElementById('addButton')
    const form = document.getElementById('form-container')

    btn.addEventListener('click', () => {
        if (form.classList.contains('d-none')) {
            form.classList.replace('d-none', 'd-block')
        }
        else if (form.classList.contains('d-block')) {
            form.classList.replace('d-block', 'd-none')
        }
    })

</script>
{% endblock %}