{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}


{% block user %}
    {{ user }}
{% endblock user %}



{% block content %}
    
<div class="container">
    <h1 class="text-center">LISTA DE PAISES Y CAPITALES</h1>
    <form class="float-end d-flex " action="search" method="POST">
        <input name="country" class="form-control mx-1" type="text" placeholder="buscar...">
        <button class="btn btn-secondary">Buscar</button>
    </form>
    <!-- <img src="/static/img/veng.png" alt=""> -->
    <table class="table">
        <thead>
            <tr>
                <th>country</th>
                <th>capital</th>
                <th>poblacion</th>
            </tr>
        </thead>
        <tbody>
            {% if data|length == 0 %}

                <tr>
                    <td>
                        No hay datos para mostrar
                    </td>    
                </tr>
                
            {% else %}

                {% for cada in data %}
                    <tr>
                        <td>{{ cada['name'] }}</td>
                        <td>{{ cada['capital'] }}</td>
                        <td>{{ cada['population'] }}</td>
                    </tr>
                {% endfor %}

            {% endif %}

           
        </tbody>
    </table>
</div>

{% endblock content %}

