{% extends 'base.html' %}

{% block  title %}
{{ titulo }}
{% endblock  %}


{% block content %}
    

<div class="text-center">
    <h1 id="welcome">WELCOME TO THE SISTEM</h1>
</div>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>REF ID</th>
            <th>Hora INICIO</th>
            <th>Hora FINAL</th>
            <th>TIPO</th>
        </tr>
    </thead>
    <tbody>

        {% for datos in data %}

        <tr>
            <td>{{datos[0]}}</td>
            <td>{{datos[1]}}</td>
            <td>{{datos[2]}}</td>
            <td>{{datos[3]}}</td>
        </tr>
            
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
