:root{
    --main-color:rgba(250,250,250,0.5)
}

body{
    background-color: rgba(20,20,20,0.4);
}

h1{
    color: var(--main-color);
    text-decoration: underline solid var(--main-color); /* Subrayado rojo ondulado */
}

