{% extends 'base.html' %}

{% block title %}
{{ titulo }}
{% endblock %}


{% block content %}

<div>

</div>
<div class="text-center">
    <h1 id="welcome" class="text-success">WELCOME TO THE SISTEM</h1>
</div>

{% with msg=get_flashed_messages() %}
    {% if msg: %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg[0] }} {{ msg[1]|safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endwith %}

<table class="table table-striped text-center" id="myTable">
    <thead>
        <tr>
            <th class="text-center">REF ID</th>
            <th class="text-center">Hora INICIO</th>
            <th class="text-center">Hora FINAL</th>
            <th class="text-center">TIPO</th>
        </tr>
    </thead>
    <tbody>

        {% for datos in data %}

        <tr>
            <td>{{datos[1]}}</td>
            <td>{{datos[2]}}</td>
            <td>{{datos[3]}}</td>
            <td>{{datos[4]}}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>



{% endblock content %}