{% macro head() %}
<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/bootstrap.min.css') }}">
    <title>Document</title>
</head>
{% endmacro %}

{% macro header() %}
    <header class="bg-secondary fixed_top">
        <nav class="d-flex justify-content-between align-items-center text-center px-2">
            <div class="logo fw-bold">LOGO</div>
            <h3>Titulo</h3>
            <div>User: {{ session['user'] }} <br> <a class="link-dark" href="/logout"> LOGOUT</a></div>
        </nav>
    </header>
{% endmacro %}

{% macro footer() %}
    <div class="footer bg-dark text-ligth fixed-bottom text-end">
        Powered by CED
    </div>
{% endmacro %}

{% macro loginForm() %}
    <div class="container d-flex justify-content-center mt-5 text-center ">
        <div class="d-flex flex-column bg-light p-3 border rounded">
            <h5 class="p-4 bg-secondary p-0">FORMULARIO DE LOGIN</h5>
            <div  class="m-2">
                <img class="rounded rounded-circle " id="userImg" src="{{url_for('static', filename='/img/user.webp')}}" alt="" height="80px">
            </div>
            <form action="" method="POST">
                Usuario: <br> 
                <input autocomplete="off" name="nombre" class="form-control " type="text"> <br>
                Clave: <br>
                <input autocomplete="off" name="passw" class="form-control " type="password"> <br>
                <button class="btn btn-secondary" >Login</button>
            </form>
        </div>
    </div>
{% endmacro %}