<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/css.css">
    <title>{% block titulo %} {% endblock titulo %}</title>
</head>

<body>
    <header class="mt-2 container-fluid">
        <!-- <img src="../static/img/veng.png" alt=""> -->
        <img src="{{url_for('static', filename='img/veng.png')}}" alt="">
        <h1 class="bg-primary text-light text-center">SISTEMA DE INVENTARIOS</h1>
        <div class="float-end"> 
            <form action="/close" method="POST">
                <button class="btn btn-danger">Close Session</button> 
            </form> 
        </div>
    </header>
    <div class="contenido container-fluid">

        <div class="container">

            {% block contenido %}
            {% endblock contenido%}

        </div>

    </div>

    <footer class="bg-dark text-light text-end p-2 fixed-bottom"> powered by CED</footer>

    <!-- <script src="../static/js/js.js"></script> -->
    <script src="{{url_for('static', filename='js/js.js')}}"></script>
</body>

</html>