{% extends 'base.html' %}


{% block titulo %}
    {{ titulo }}
{% endblock titulo %}


{% block contenido %}
    
  <div class="row text-light bg-info mt-3 py-4 ">
    <div class=" articulos col-md-4 mt-4 mt-md-2">
        <H3 class="text-center m-4">ARTICULOS</H3>
        <button id="altaArticulos" class="btn btn-secondary fw-bold col-12 my-3 p-2">ALTA</button> <br>
        <button id="listadoArticulos" class="btn btn-secondary fw-bold col-12 my-3 p-2">LISTADO (con opciones)</button> <br>
    </div>

    <div class="col-md-4 mt-4 mt-md-2">
        <H3 class="text-center m-4">MOVIMIENTOS</H3>
        <button class="btn btn-secondary fw-bold col-12 my-3 p-2">INGRESOS</button> <br>
        <button class="btn btn-secondary fw-bold col-12 my-3 p-2">EGRESOS</button> <br>
        <button class="btn btn-secondary fw-bold col-12 my-3 p-2">AJUSTES</button> <br>
    </div>

    <div class="col-md-4 mt-4 mt-md-2">
        <H3 class="text-center  m-4">INFORMES</H3>
        <button class="btn btn-secondary fw-bold col-12 my-3 p-2">INFORMES DE MOVIMIENTOS</button> <br>
        <button class="btn btn-secondary fw-bold col-12 my-3 p-2">INFORMES DE STOK</button> <br>
        <button class="btn btn-secondary fw-bold col-12 my-3 p-2">OTROS</button> <br>
    </div>
  </div>

{% endblock contenido %}
