<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>

    <div class="container d-flex justify-content-center mt-5 text-center">
        <div class="d-flex flex-column bg-light border-4 p-3">
            <h3 class="p-4">FORMULARIO DE LOGIN</h3>
            <form action="" method="POST">
                Usuario: <br> 
                <input name="user" class="form-control " type="text"> <br>
                Clave: <br>
                <input name="pass" class="form-control " type="password"> <br>
                <button class="btn btn-secondary" >Login</button>
            </form>
        </div>
    </div>

</body>

</html>