{% extends 'base.html' %}


{% block titulo %}
    formulario
{% endblock titulo %}


{% block contenido %}

<a  href="/"><button class="btn btn-primary float-end me-2">Atras</button></a>

    <h3 class="m-4 bg-light text-center">FORMULARIO DE CARGA PERSONAS</h3>

<div class="container">
    <form class="text-center" action="" method="POST">
        Nombre: <br><input class="mb-4" name="nombre" type="text"> <br>
        Edad:   <br><input class="mb-4" name="edad" type="text"> <br>
        Email: <br><input class="mb-4" name="mail" type="text"> <br>

        <button class="btn btn-success btn-block">Enviar</button>
    </form>
</div>


{% endblock contenido %}