{% extends 'base.html' %}


{% block titulo %}
{{ titulo }}
{% endblock titulo %}


{% block contenido %}

<div class="container text-light">
    <div class="mt-2 float-end">
        <a href="/index" class="btn btn-danger">Atras</a>
    </div>
    <div>
        <h3 class="text-center m-2 p-2">FORMULARIO DE INGRESO DE ARTICULOS</h3>
    </div>

    <div class="d-flex justify-content-center text-center">
        <form id="form" action="" class="form bg-secondary mt-4 p-4 rounded w-md-50" method="POST">
            <div class="form-group mb-3">
                <label class="form-label" for="descripcion">Nombre del Articulo:
                    <input id="descripcion" name="descripcion" class="form-control" type="text">
                </label>
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="marca">Marca del Articulo:
                    <input id="marca" name="marca" class="form-control" type="text">
                </label>
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="umedida">U. de medida:
                    <input id="umedida" name="umedida" class="form-control" type="text">
                </label>
            </div>
            <div>
                <button id="boton" class="btn btn-success"> Registrar</button>
            </div>
            <!-- <div class="reset-container">
                <button id="reset" class="btn btn-danger">RESET</button>
            </div> -->
        </form>
    </div>
</div>

{% endblock contenido %}