{% extends 'base.html' %}


{% block titulo %}
{{ titulo }}
{% endblock titulo %}


{% block contenido %}

<div class="container text-light">
    <div class="mt-2 float-end">
        <a href="/listadoArticulos" class="btn btn-danger">Atras</a>
    </div>
   
    <div>
        <h3 class="text-center m-2 p-2">MODIFICACION DE ARTICULOS</h3>
    </div>

    <div class="d-flex justify-content-center text-center">
        
        <form id="form" action="" class="form bg-secondary mt-4 p-4 rounded w-md-50" method="POST">
            <input type="hidden" name="id" value="{{data[0]}}">
            <div class="form-group mb-3">
                <label class="form-label" for="descripcion">Nombre del Articulo a modificar:
                    <input id="descripcion" value="{{data[1]}}" name="descripcion" class="form-control" type="text">
                </label>
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="umedida">U. de medida:
                    <input id="umedida" value="{{data[2]}}" name="umedida" class="form-control" type="text">
                </label>
            </div>
            <div>
                <button id="boton" class="btn btn-success"> MODIFICAR</button>
            </div>
        </form>
    </div>
</div>

{% endblock contenido %}