{% extends 'base.html' %}

{% block titulo %}
{{ titulo }}
{% endblock titulo %}



{% block contenido %}
<div class="mt-2 float-end">
    <a href="/index" class="btn btn-danger">Atras</a>
</div>

<div class="pt-4">

    <div>
        {%with mensajes=get_flashed_messages() %}
        {% for mensaje in mensajes %}
        <div id="btn-cerrar" class="alert alert-warning alert-dismissible fade show">
            {{mensaje}}
            <a href='/listadoArticulos' class="btn-close"></a>
        </div>

        {% endfor %}
        {% endwith %}
    </div>

    <div class="bg-light  mt-4 p-4">
        <table class="table">
            <thead class="m-4">
                <tr>
                    <th width="50%">Descripcion</th>
                    <th width="15%">Marca</th>
                    <th width="15%">Umedida</th>
                    <th width="20%" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody class="m-4">

                {% for cada in data %}

                <tr>
                    <td>{{cada[1]}}</td>
                    <td>{{cada[2]}}</td>
                    <td>{{cada[3]}}</td>
                    <td class="text-center">
                        <form action="" method="POST">
                            <button name="editar" value="{{cada[0]}}" class="btn btn-warning btn-sm m-1">Editar</button>
                            <button name="eliminar" value="{{cada[0]}}"
                                class="btn btn-danger btn-sm m-1">Eliminar</button>
                        </form>
                    </td>
                </tr>

                {% endfor %}

            </tbody>


        </table>
    </div>

</div>


{% endblock contenido %}